hr {
	border: 0;
	border-bottom: 1px solid lightgray;
}
button:hover {
	cursor: pointer;
}
button.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 0 1px black;
	margin: 8px;
	margin-left: 0;
	border: 0;
	padding: 8px;
	width: fit-content;
	height: 24px;
	line-height: 12px;
	background-color: white;
	transition: all ease 0.5s;
}
button.icon-24px {
	width: 32px;
	height: 32px;
}
button.icon-24px img {
	margin: 0;
	width: 24px;
	height: 24px;
}
button.btn:hover {
	box-shadow: 0 0 0 2px #808080;
}
button.btn:active {
	background-color: #f0f0f0;
	transition: none;
}
button.primary {
	box-shadow: 0 0 0 2px #4080ff;
	background-color: #a0e0ff;
}
button.primary:hover {
	box-shadow: 0 0 0 4px #a0e0ff;
	background-color: #ffffff;
}
button.secondary {
	box-shadow: 0 0 0 1px #808080;
	color: black;
}
button.secondary:hover {
	box-shadow: 0 0 0 2px #a0a0a0;
	background-color: #f0f0f0;
}
.btn-row {
	display: flex;
	flex-direction: row;
	align-content: center;
	border: 0;
	width: fit-content;
}
