.comment {
	margin: 4px;
	border: 1px solid black;
	padding: 8px;
	max-width: 512px;
	background-color: white;
	color: black;
	overflow-wrap: break-word;
}
.comment p {
	font-weight: 400;
	font-size: 12pt;
}
.comment p span.author {
	color: #808080;
	text-decoration: underline;
}
