.form-container {
	margin: auto;
	margin-top: 64px;
	border: 1px solid black;
	padding: 16px;
	width: fit-content;
	background-color: white;
}
form h1 {
	font-size: 16pt;
	font-weight: 400;
}
form h2 {
	font-size: 14pt;
	font-weight: 400;
}
form p {
	font-size: 10pt;
	font-weight: 400;
}
form hr {
	border: 0;
	border-bottom: 1px solid black;
}
input[type=text], textarea {
	border: 0;
	box-shadow: 0 0 0 1px gray;
	padding: 4px;
	transition: all ease 0.5s;
}
input[type=text]:hover, textarea:hover {
	box-shadow: 0 0 0 2px #808080;
}
input[type=text]:focus, textarea:focus {
	outline: none;
	box-shadow: 0 0 0 4px #8080ff;
}
textarea.resize-none {
	resize: none;
}
p.message {
	background-color: #f0f0e0;
}
