body {
	margin: 0;
	padding: 0;
	max-width: 100vw;
	min-height: 100vh;
	font-family: 'Source Sans Pro', sans-serif;
	background: linear-gradient(45deg, #e66465, #9198e5);
}
h1, h2, h3, p {
	margin: 0;
}
