.post-focused {
	margin: auto;
	margin-top: 16px;
	margin-bottom: 16px;
	padding: 16px;
	width: fit-content;
	background-color:white;
	line-height: 8px;
}

.post-display{
	display: flex;
	justify-content: center;
	align-items: center;
	width: fit-content;
	background-color:white;
	padding: 10px 10px 10px;
	margin:auto;
}

.post-display img {
	border-radius: 5px;
}

.go-back-button {
	float:left;
	width:20%;
	border-radius: 5px;
}

h1 {
	text-align:center;
}

.focused button {
	width:60px;
	height:60px;
	margin-right:5px;
}

.focused{
	width:50px;
	height:50px;
	margin-right:5px;
}

.focused:hover {
	transform: scale(1.03, 1.03);
}


.inter-button {
	margin-right:8px;
}


.comment-box {
	width:700px;
	align-items:center;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	padding:10px;
	background-color:lightgrey;
}

.comment-header {
	font-size:50px;
	text-align:center;
}

.comment-container {
	align-items:center;
	background-color:white;
	padding:4px;
	text-align:left;
	margin-bottom:8px;
	margin-left:auto;
	margin-right:auto;
	max-width:95%;
	max-height:auto;
}

.comment-user {
	text-align:left;
}

.comment-text {
	word-break:normal;
	line-height:15px;
}

