hr {
	border: 0;
	border-bottom: 1px solid lightgray;
}
.post-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 64px;
	width: 100%;
}
.post {
	margin: 8px;
	border: 1px solid black;
	padding: 8px;
	width: fit-content;
	max-width: 512px;
	height: 384px;
	background-color: white;
	filter: drop-shadow(0px 0px 0px black);
	transition: transform ease 0.5s, filter ease 0.5s;
}
.post:hover {
	transform: translateX(-4px) translateY(-4px);
	filter: drop-shadow(4px 4px 0px black);
	z-index: 1;
	cursor: pointer;
}
.post .img-container {
	width: 100%;
	background-color: black;
}
.post .img-container img {
	display: block;
	margin: auto;
	border: 1px solid black;
	min-width: 224px;
	max-width: 512px;
	height: 256px;
}
.post h1.title {
	margin-top: 12px;
	margin-bottom: 8px;
	font-family: 'Noto Sans', sans-serif;
	font-weight: 900;
	font-size: 14pt;
	line-height: 16px;
	overflow-wrap: break-word;
}

.post h3.mark {
	position: absolute;
	right: 8px;
	bottom: 8px;
	font-weight: 400;
	font-size: 10pt;
	line-height: 8px;
}
.like_button button img {
	width: 50px;
	height: 50px;
	justify-content: center;
}
.like_button {
	transition: 0.1s;
	margin-left: 5px;
}
.like_button:hover {
	transform: scale(1.02, 1.02);
}
.post-large-container {
	margin: auto;
	margin-top: 64px;
	margin-bottom: 50vh;
	border: 1px solid lightgray;
	padding: 16px;
	max-width: 768px;
	background-color: white;
}
.post-large-container img {
	margin-bottom: 16px;
	width: 100%;
}
.post-large-container .space-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100%;
}
.post-large-container h1 {
	margin: 0;
	text-align: center;
	font-family: 'Noto Sans', sans-serif;
	font-weight: 900;
	font-size: 20pt;
}
.post-large-container h2 {
	margin: 0;
	font-weight: 400;
	font-size: 16pt;
}
.post-large-container span.UID {
	color: gray;
}
.post-large-container h3 {
	margin: 0;
	font-size: 14pt;
}
.post-large-container p {
	font-size: 12pt;
}
