.userDisplay {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	padding-top: 16px;
}

.userDisplay h1 {
	text-align: center;
	font-size: 64pt;
	margin: auto;
}

.userDetailsContainer {
	display: flex;
	align-content: center;
	margin-left: auto;
	margin-right: auto;
}

.userDetailsContainer img {
	object-fit: cover;
	width: 256px;
	height: 256px;
	border-radius: 128px;
	transition: 0.1s;
	margin: 16px;
}

.userDetailsContainer img:hover {
	transform:scale(1.05, 1.05);
}

.back-button {
	margin-left: 16px;
	transition: 0.1s;
}
