.view-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 64px;
	width: 100%;
}
.post-username {
	font-size: 20pt;
	font-family: sans-serif;
	transition: 0.1s;
}
.comment-box {
	max-width: 768px;
}
