.post {
	margin: auto;
	margin-top: 16px;
	padding: 16px;
	width: 256;
	background-color: white;
	line-height: 8px; 
	transition: 0.1s;

}
.post img {
	width: 256px;
	transition: 0.1s;
}

.post img:hover {
	transform: scale(1.02, 1.02);
}

.post:hover {
	transform: scale(1.02,1.02);
}
.post h1 {
	
	font-size: 20pt;
	font-weight: 800;
}
.post h2 {
	font-size: 14pt;
	font-weight: 400;
	color: #808080;
}
.post h3 {
	font-size: 10pt;
	font-weight: 400;
	color: #808080;
}

.post button {	
	display: flex;
	justify-content:center;
	width: auto;
	height: auto;
	margin-left: auto;
}

.post-description {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: top;
}

.like_button button img {
	width: 50px;
	height: 50px;
	justify-content: center;
}

.like_button {
	transition: 0.1s;
	margin-left: 5px;
}

.like_button:hover {
	transform: scale(1.02, 1.02);
}
